<div data-sly-test="${wcmmode.edit}">
	Configure Page Listing Model
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='re-platform.page-listing'}"/>

<sly data-sly-use.model="com.re.aem.web.platform.models.common.PageListingModel">

    <section id="page-listing-${model.component.randomNumber}" class="page-listing ${model.component.customStyleClass}">
		<div class="motorcycle-models text-center">
            <h2>${model.heading}</h2>
            <div class="row no-gutters" data-sly-list="${model.pages}">

                <div class="col-xl-4 col-md-6 col-sm-12"> 
	            	<div class="product-image-card"> 
                        <a href="${item.pagePath}">
                            <img class="img-responsive" src="${item.imagePath}" alt="${item.imageAlt}">
	                		<div class="product-image-caption">
	                    		<div class="product-image-txt">
                                    <h3>${item.title}</h3>
                                    <p>${item.description}</p>
                                    <button class="custom-btn bor arrow-r clr-w">${model.ctaLabel}</button>
	                    		</div>
	                		</div>
                        </a>
	            	</div>
	        	</div>

	    	</div>
		</div>
	</section>

</sly>
