<div data-sly-test="${wcmmode.edit}">
	Configure Column Grid Component
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='re-platform.column-grid'}"/>

<sly data-sly-use.model="com.re.aem.web.platform.models.common.ColumnGridModel">
	<div id="column-grid-${model.component.randomNumber}" class="column-grid ${model.component.customStyleClass}">
		<div class="row" data-sly-test="${model.sectionHeading}">
        	<h3>${model.sectionHeading}</h3>
        </div>
        <div class="row no-gutters" data-sly-list="${model.columnList}">
			<div class="col">
				<div data-sly-resource="${@path=item, resourceType='wcm/foundation/components/parsys'}"></div> 
            </div>
        </div>
    </sly>
</div>