<div data-sly-test="${wcmmode.edit}">
	Configure Teaser Component
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='re-platform.teaser'}"/>

<sly data-sly-use.model="com.re.aem.web.platform.models.common.TeaserModel">
	<div  class="teaser row ${model.component.customStyleClass}" style="height:${model.component.customHeight}">
    	<div class="product-image-card"> 
			<a href="${model.link}">
				<img class="img-responsive" src="${model.imagePath}" alt="">
            	<div class="product-image-caption">
                    <div class="product-image-txt">
						<h3>${model.title}</h3>
						<p>${model.description}</p>
						<button class="custom-btn bor arrow-r clr-w">${model.ctaText}</button>
                    </div>
                </div>
			</a>
        </div>
  	</div>
</sly>
