<div data-sly-test="${wcmmode.edit}">
	Configure FAQ Component
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='re-platform.faq'}"/>

<sly data-sly-use.model="com.re.aem.web.platform.models.common.FAQModel">
	<section id="faq-${model.component.randomNumber}" class="faq ${model.component.customStyleClass}" style="height:${model.component.customHeight}px">
		<div class="faq-lh">
			<div class="faq-lh-container">
				<h2>${model.sectionHeading}</h2>
				<p>${model.subHeading}</p>
				<div class="categorie-holder">
					<span class="cat-vl">${model.mobileSelectText}</span>
		    		<ul class="nav nav-tabs" data-sly-list="${model.categoryList}">
			    		<li class="${itemList.count == 1 ? 'active' : ''">
                        	<a data-toggle="tab" href="#menu${itemList.count}" class="cat-nm ${itemList.count == 1 ? 'active show ' : ''">
                            	${item.categoryTitle} 
                            </a>
                        </li>
                    </ul>
                </div>
            </div>	
		</div>

        <div class="faq-rh">
			<div class="tab-content">
            	<sly data-sly-list="${model.categoryList}">
		    		<div id="menu${itemList.count}" class="tab-pane fade ${itemList.count == 1 ? 'active show' : ''}" tabindex="-1">
		    			<h2>${item.categoryBodyTitle}</h2>
						<sly data-sly-test="${item.categoryBodyType == 'accordian'}">
							<sly data-sly-resource="${@path=item.accordianId, resourceType='re-platform/components/content/common/accordian'}"></sly> 
                        </sly>
                        <sly data-sly-test="${item.categoryBodyType == 'other'}">
							<sly data-sly-resource="${@path=item.parsysId, resourceType='wcm/foundation/components/parsys'}"></sly> 
                        </sly>
                    </div>
                </sly>
		    </div>
        </div>
  	</section>
</sly>
