<div data-sly-test="${wcmmode.edit}">
	Configure Social Links Component
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='re-platform.social-links'}"/>

<div class="social-links">
    <p>${properties.sectionHeading}</p>
    <ul>
        <li data-sly-test="${properties.facebookFlag == 'true'}">
   			<a title="facebook" href="${properties.facebookUrl}" target="${properties.openInNewWindow == 'true' ? '_blank' : ''}">
       			<span class="icon-fb"></span>
            </a>
        </li>
        <li data-sly-test="${properties.twitterFlag == 'true'}">
            <a title="twitter" href="${properties.twitterUrl}" target="${properties.openInNewWindow == 'true' ? '_blank' : ''}">
               <span class="icon-tw"></span>
            </a>
        </li>
        <li data-sly-test="${properties.youtubeFlag == 'true'}">
           <a title="youtube" href="${properties.youtubeUrl}"  target="${properties.openInNewWindow == 'true' ? '_blank' : ''}">
               <span class="icon-yt"></span>
           </a>
        </li>
        <li data-sly-test="${properties.instagramFlag == 'true'}">
           <a title="instagram" href="${properties.instagramUrl}" target="${properties.openInNewWindow == 'true' ? '_blank' : ''}">
              <span class="icon-ig"></span>
           </a>
        </li>
    </ul>
</div>